@import "functions";

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.tentative {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.letter-ctn {
	$ctn-height: 60px;
	opacity: 0.75;
	margin-top: 1rem;
	width: 60px;
	height: $ctn-height;
	border: 2px solid var(--btn-bg-color);
	border-radius: 5px;
	text-align: center;
	line-height: $ctn-height;
	position: relative;
}

.letter {
	font-size: font("sizes", "medium");
	color: var(--text-color);
}

.current-block {
	background-color: var(--btn-bg-color);
	width: 105%;
	height: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	bottom: 0;
	left: -2px;
	position: absolute;
}

$animation-time: 500;

@for $i from 1 through 10 {
	.letter-ctn:nth-child(#{$i}) {
		animation-delay: #{($animation-time*$i)-$animation-time}ms;
	}
}

@mixin animation-block($status) {
	$blocks-colors: (
		"right": #5cb85c, 
		"wrong": #d9534f, 
		"semi": #f0ad4e,
	);

	@keyframes turn-block-#{$status} {
		50% {
			transform: scale(1.5);
		}
		100% {
			transform: scale(1);
			background-color: map-get($blocks-colors, $status);
		}
	}
}

.turn-around {
	animation-duration: #{$animation-time}ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	&__right {
		@extend .turn-around;
		@include animation-block("right");
		animation-name: turn-block-right;
	}

	&__wrong {
		@extend .turn-around;
		@include animation-block("wrong");
		animation-name: turn-block-wrong;
	}

	&__semi {
		@extend .turn-around;
		@include animation-block("semi");
		animation-name: turn-block-semi;
	}
}

